config.stopBubbling = true

lombok.accessors.chain = false
lombok.accessors.fluent = false

lombok.toString.includeFieldNames = true
lombok.toString.doNotUseGetters = true

lombok.equalsAndHashCode.callSuper = call
lombok.equalsAndHashCode.doNotUseGetters = true

lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Autowired

lombok.addLombokGeneratedAnnotation = true

lombok.log.fieldName = log
